# Introduction Pandas
pandas is some library on python to manipulate some data using data frame(looks like table) <br>
how to use it <br>
` import pandas as pd `

In [1]:
import pandas as pd

In [3]:
datas = {"Nama": ["David","Brandon"],"Umur":[21,22]}
df = pd.DataFrame(datas,columns=["Nama","Umur"])

In [9]:
df.sample(1)

      Nama  Umur
1  Brandon    22

## Read file using temp file

In [11]:
df = pd.read_csv("sample.csv",delimiter=";")

In [12]:
df.head(5)

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_category,Value
0,2018,Level 3,AA11,Horticulture and Fruit Growing,Dollars (millions),H01,Financial performance,4432.0
1,2018,Level 3,AA11,Horticulture and Fruit Growing,Dollars (millions),H01,Financial performance,4432.0
2,2018,Level 3,AA11,Horticulture and Fruit Growing,Dollars (millions),H04,Financial performance,4119.0
3,2018,Level 3,AA11,Horticulture and Fruit Growing,Dollars (millions),H05,Financial performance,NaN
4,2018,Level 3,AA11,Horticulture and Fruit Growing,Dollars (millions),H07,Financial performance,211.0

## Read file using cloud file